body {
  margin: 0;
  font-family:   'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Clear{
  background: url("./Componente/Clear.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.ClearNight{
  background: url("./Componente/ClearNight.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.Thunderstorm{
  background: url("./Componente/Thunderstorm.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.Clouds{
  background: url("./Componente/Clouds.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.CloudsNight{
  background: url("./Componente/CloudsNight.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.Drizzle{
  background: url("./Componente/Drizzle.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.DrizzleNight{
  background: url("./Componente/DrizzleNight.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.Rain{
  background: url("./Componente/Rain.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.RainNight{
  background: url("./Componente/RainNight.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.Snow{
  background: url("./Componente/Snow.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.tarjeta{
  opacity: 0.8;
  text-align: center;
}

.city{
  padding: 2rem ;
  margin-bottom: -1.5rem;
  color: black !important;
}
.cityNight{
  padding: 2rem ;
  margin-bottom: -1.5rem;
  color: white !important;
}
.temp{
  color: black !important;
}
.tempNight{
  color: white !important;
}
.temperatura{
  color: black;
  margin-top: -2rem;
  opacity:1;
  font-size: 7rem;
}
.temperaturaNight{
  color: white;
  margin-top: -2rem;
  opacity:1;
  font-size: 7rem;
}
